<div id="<%= dom_id keylocker %>">
  <p>
    <strong>Owner:</strong>
    <%= keylocker.owner %>
  </p>

  <p>
    <strong>Namedevice:</strong>
    <%= keylocker.nameDevice %>
  </p>

  <p>
    <strong>Ipaddress:</strong>
    <%= keylocker.ipAddress %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= keylocker.status %>
  </p>
</div>
